@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #7a7f9d;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  }

  /* Handle on Hover */
  ::-webkit-scrollbar-track:hover {
  }
}

@layer utilities {
}

@layer components {
}
